@import url('https://fonts.googleapis.com/css?family=Inter+Tight:400,600,900')
layer(base);
@import url('https://fonts.googleapis.com/css?family=Lora:400,700') layer(base);
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700')
layer(base);
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css')
layer(base);

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

::selection {
  background-color: black;
  color: rgb(216, 116, 255);
}

:root {
  font-family:
    'Inter Tight',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-display: swap;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.roboto {
  font-family:
    'Roboto Mono',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.lora {
  font-family:
    'Lora',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.inter {
  font-family:
    'Inter Tight',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}

.h-screen {
  height: 100dvh;
  height: 100vh;
}
