#background {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #111 1px, transparent 1px),
    linear-gradient(to bottom, #111 1px, transparent 1px);
}

#background-light {
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgb(236, 236, 236) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(236, 236, 236) 1px, transparent 1px);
}
